<%- include('partials/header.ejs'); -%>

<h1>Burns Book Blog</h1>

<h4><a href="/new">ADD NEW BOOK</a></h4>



<% books.forEach(book => { %>
    <a href="/edit?id=<%= book.id%>">
        <div id="<%= book.id %>">
            <ul>
                <li><img src="<%= book.cover_url %>" alt="Cover for <%= book.title %>"></li>
                <li><strong><%= book.title %></strong> by <%= book.author %></li>
                <li><%= book.summary %></li>
            </ul>
        </div>
    </a>
<% }) %>


<%- include('partials/footer.ejs'); -%>