<%- include('partials/header.ejs'); -%>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Burns Book Blog</h1>
        </div>
    </div>
</div>

<div class="container text-center">
    <a href="/new" class="btn btn-primary">Add New Book</a>
</div>

<div class="container">
    <% books.forEach(book => { %>
    <a href="/edit?id=<%= book.id%>">
        <div id="<%= book.id %>">
            <ul>
                <li><img src="<%= book.cover_url %>" alt="Cover for <%= book.title %>"></li>
                <li><strong><%= book.title %></strong> by <%= book.author %></li>
                <li><%= book.summary %></li>
            </ul>
        </div>
    </a>
    <% }) %>
</div>

<%- include('partials/footer.ejs'); -%>